h1,
h2,
ul {
  font-family: Arial;
}
h1 {
  text-align: center;
  color: rgb(60, 240, 60) !important;
}
ul {
  list-style-type: square;
}
p {
  color: blueviolet;
  text-align: justify;
}
.redText {
  color: red;
}
